/* General body styles
-------------------------------------------------- */
body {
	padding-top: 50px;
}
h2 {
	font-family: 'Sacramento', cursive;
	font-size: 2.5em;
	color: #727575;
}
h3 {
	font-family: 'Sacramento', cursive;
	font-size: 2.3em;
	text-shadow: 2px 1px 1px black;
	color: white;
}
.btn-default {
	font-family: 'Sacramento', cursive;
	font-size: 1.5em;
	color: #727575;
}
div.col-md-4 {
	padding-bottom: 30px;
}
.sub-banner-col {
	margin: 30px 0 0 0;
}
.sub-banner-row {
	margin: 0 0 40px 0;
}
.btn-info {
	background-color: #95bbf5;
	border-color: #95bbf5;
	font-size: 1.5em;
	margin-left: 5px;
}
.btn-info:hover {
	background-color: #7d9dce;
	border-color: #7d9dce;
}

/* Banners
-------------------------------------------------- */
.banner {
	position: relative;
}
.banner-large {
	display: none;
}
@media (min-width: 600px) {
	.banner-small {
		display: none;
	}
	.banner-large {
		display: block;
	}
}

/* Navbar
-------------------------------------------------- */
a.navbar-brand {
	font-family: 'Sacramento', cursive;
	font-size: 1.5em;
	padding-right: 25px;
}
.navbar-default {
	background-color: #ffffff;
	border-color: #95bbf5;
}
.navbar-default .navbar-brand {
	color: #727575;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #a5a9a9;
}
.navbar-default .navbar-nav > li > a {
	color: #727575;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #727575;
	background-color: #e7f1ff;
}
.navbar-default .navbar-nav > .active > a {
	color: #ffffff;
	background-color: #95bbf5;
}
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #7d9dce;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #95bbf5;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color: #727575;
	border-bottom-color: #727575;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}
.navbar-default .navbar-toggle {
	border-color: #95bbf5;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #95bbf5;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #727575;
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #727575;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffffff;
	}
}

/* Carousel
-------------------------------------------------- */
.carousel-caption > p {
	font-size: 1.2em;
	text-shadow: 2px 1px 1px black;
}
@media (max-width: 600px) {
	h3,
	.carousel-caption > p {
		display: none;
	}
}

/* Google form
-------------------------------------------------- */
form {
	padding-left: 2%;
}
.block-input {
	display: block;
	width: 275px;
}
.google-form ul {
	list-style-type: none;
}
li.ss-choice-item > label {
	font-weight: normal;
}
.ss-choice-item-control {
	padding: 0 10px 0 0;
}
.ss-form-question {
	margin: 50px 0 0 0;
}
.required-message, .ss-password-warning, .ss-required-asterisk {
	display: none;
}
.ss-q-title {
	font-family: 'Sacramento', cursive;
	font-size: 2em;
	color: #727575;
	padding: 0;
	margin: 0;
}
.ss-q-help {
	font-weight: normal;
	font-style: italic;
	color: #727575;
}
.ss-q-other {
	margin-left: 8px;
}
.ss-item {
	margin: 30px 0 30px 0;
}

/* Pad the edges of the mobile views a bit
-------------------------------------------------- */
.marketing {
	padding: 50px 15px 15px 0;
}
.marketing .col-md-4 {
	text-align: center;
}