/*
#95bbf5 --> light blue, highlights/active
#727575 --> dark grey, text
#a5a9a9 --> lighter grey, hover text
#ffffff --> white
*/

/* General body styles
-------------------------------------------------- */
body {
	padding-top: 50px;
}
h2 {
	font-family: 'Sacramento', cursive;
	font-size: 2.5em;
	color: #727575;
}
.btn-default {
	font-family: 'Sacramento', cursive;
	font-size: 1.5em;
	color: #727575;
}
div.col-md-4 {
	padding-bottom: 30px;
}

/* Navbar
-------------------------------------------------- */
a.navbar-brand {
	font-family: 'Sacramento', cursive;
	font-size: 1.5em;
	padding-right: 25px;
}
.navbar-default {
	background-color: #ffffff;
	border-color: #95bbf5;
}
.navbar-default .navbar-brand {
	color: #727575;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #a5a9a9;
}
.navbar-default .navbar-nav > li > a {
	color: #727575;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #a5a9a9;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #95bbf5;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #95bbf5;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color: #727575;
	border-bottom-color: #727575;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}
.navbar-default .navbar-toggle {
	border-color: #95bbf5;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #95bbf5;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #727575;
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #727575;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffffff;
	}
}


/* Pad the edges of the mobile views a bit
-------------------------------------------------- */
.marketing {
	padding: 50px 15px 15px 0;
}
.marketing .col-md-4 {
	text-align: center;
}