/* Fonts */
@font-face {
  font-family: 'AlexBrush';
  src: url('../fonts/AlexBrush-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'lmsans10';
  src: url('../fonts/lmsans10-regular.otf') format('opentype');
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: lmsans10;
}

.navbar {
	background: #2c465b;
}

.navbar .navbar-brand {
	color: white;
	font-size: 2em;
	font-family: AlexBrush;
}

.navbar span {
	color: #f59a91;
}

.navbar-nav {
	float: right;
}

.jumbotron {
	background: #f5cf98;
	color: white;
}

.jumbotron h1 {
	font-family: AlexBrush;
}

.banner {
  background: url(../images/dining_room_1200_500.jpg) no-repeat;
  background-position: center;
  height: 500px;
  overflow: hidden;
}

.black-shadow {
	text-shadow: 1px 1px 5px black;
}



/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.jumbotron .container h1 {
	font-size: 2em;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
.jumbotron .container h1 {
	font-size: 2.5em;
}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.jumbotron .container h1 {
	font-size: 3em;
}
}